<%#= stylesheet_link_tag "dropzone", media: "all" %>
<%#= javascript_include_tag "dropzone" %>


<p>
  Upload your image to Picanthrope!
</p>

<%= form_with method: :post, local: true, url: "/images", html: { id: "upload-form", class: "dropzone" } do |form| %>

<% end %>
<br>
<button type='button' id="upload-button", class='btn btn-primary'>
  Upload!
</button>

<script type='text/javascript'>
  Dropzone.options.uploadForm = {
    init: function() {
      var myDropzone = this;
      var button = document.getElementById('upload-button');
      button.addEventListener('click', function(){
        myDropzone.processQueue();
        myDropzone.options.autoProcessQueue = true;
        myDropzone.on("success", function(file) {
           window.location.href = ("/images")
        });
      });
    },
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 10, // MB
    parallelUploads: 999,
    autoProcessQueue: false,
    withCredentials: true,
    uploadMultiple: true,
    acceptedFiles: 'image/*'
  };
</script>

